/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #004161;
  --ifm-color-primary-dark: #003a57;
  --ifm-color-primary-darker: #003752;
  --ifm-color-primary-darkest: #002d44;
  --ifm-color-primary-light: #00476b;
  --ifm-color-primary-lighter: #004b70;
  --ifm-color-primary-lightest: #00547e;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #d1d2d1;
  --ifm-color-primary-dark: #bcbdbc;
  --ifm-color-primary-darker: #b1b3b1;
  --ifm-color-primary-darkest: #919491;
  --ifm-color-primary-light: #e6e7e6;
  --ifm-color-primary-lighter: #f1f1f1;
  --ifm-color-primary-lightest: #ffffff;
}
